@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --deepblack: #000;
    --deepred: #F00;
    --onhover: rgb(190, 5, 5);
}


body{
    background: var(--deepblack);
    color: #fff;
}

.wrapper{
    width: 80%;
    margin: 30px auto;
}

.logo-nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 12px;
    width: 55px;
    word-break: break-all;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
}

.hamburger{
    width: 30px;
    height: 30px;
    word-break: break-all;
    font-weight: 800;
    line-height: 88.69%;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
}

.hero-main{
    margin: 50px 0;
    padding: 80px 0;
    width: 100%;
    background: url(./images/Kareem.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

.hero-main h2{
    font-size: 1.2rem;
    margin: 20px 0;
    word-break: keep-all;
    width: 230px;
    line-height: 148.69%;
    transition: 250ms linear;
    animation-name: text;
    animation-duration: 250ms;
    animation-iteration-count: infinite;
    animation-delay: 4s;
}

@keyframes text {
    from{
        color: #fff;
    }

    to{
        color: #171717;
    }

    from{
        color: rgb(243, 75, 75);
    }

    to{
        color: var(--deepred);
    }
}



.hero-main p{
    font-size: .8rem;
    line-height: 1.4rem;
    width: 100%;
    margin: 10px 0;
}

.hero-main button{
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: 0;
    padding: 10px;
    height: 39px;
    margin: 10px 0;
    background: var(--deepred);
}

.hero-main button:hover{
    background: var(--onhover);
}

.hero-main button a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}

.project{
    position: relative;
}

.project h4{
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .8rem;
}

.project h4::before{
    content: ' ';
    position: absolute;
    top: -10px;
    width: 40px;
    height: 3px;
    background-color: var(--deepred);
}

.project img{
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    
}

.experience-wrapper{
    margin-top: 40px;
    position: relative;
}

.experience-wrapper h2{
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 40px;
}

.experience-wrapper h2::before{
    content: ' ';
    position: absolute;
    top: -10px;
    width: 40px;
    height: 3px;
    background-color: var(--deepred);
}

.experience-items{
    display: flex;
    flex-direction: column-reverse;
}

.experience-items h3{
    font-size: .85rem;
}

.experience-items span{
    font-size: .7rem;
    color: var(--deepred);
    
}

.experience-items p{
    font-size: .8rem;
    margin: 10px 0;
    line-height: 1.3rem;
}

.skills{
    margin-top: 50px;
    position: relative;
}

.skills div{
    text-align: center;
    background-color: #171717;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}

.skills .icon{
    margin-top: 20px;
    margin-bottom: 10px;
}

.skills h2{
    margin-top: 50px;
    margin-bottom: 40px;   
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.skills h2::before{
    content: ' ';
    position: absolute;
    top: -10px;
    width: 40px;
    height: 3px;
    background-color: var(--deepred);
}

.skills h4{
    font-size: .85rem;
}

.skills p{
    font-size: .85rem;
    font-size: .8rem;
    margin: 10px 0;
    line-height: 1.3rem
}

.offer{
    margin-top: 50px;
    position: relative;
}

.offer h3{
    margin-top: 50px;
    font-size: .85rem;
}

.offer h3::before{
    content: ' ';
    position: absolute;
    top: -10px;
    width: 40px;
    height: 3px;
    background-color: var(--deepred);
}

.offer p{
    font-size: .85rem;
    font-size: .8rem;
    margin: 30px 0;
    line-height: 1.3rem
}

.contact{
    position: relative;
}

.contact h3{
    margin-top: 20px;
    font-size: .85rem;
}

.contact h3::before{
    content: ' ';
    position: absolute;
    top: -10px;
    width: 40px;
    height: 3px;
    background-color: var(--deepred);
}

.contact p{
    font-size: .85rem;
    font-size: .8rem;
    margin: 30px 0;
    line-height: 1.3rem
}

form input{
    width: 100%;
    height: 39px;
    padding: 10px 20px;
    font-size: .6rem;
    margin: 10px auto;
    background: #171717;
    border: 0;
    border-radius: 10px;
}

form textarea{
    width: 100%;
    height: 200px;
    background: #171717;
    border: 0;
    padding: 10px 20px;
    outline: 0;
    font-size: .6rem;
    color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form button{
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: 0;
    padding: 10px;
    height: 39px;
    margin: 10px 0;
    background: var(--deepred);
    color: #fff;
    font-weight: 800;
}

form button:hover{
    background: var(--onhover);
}


.social-links{
    margin: 30px 0;
    text-align: center;
}

.social-links span{
    margin: 0 20px;
    
}

.social-links a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background: #171717;
    padding: 8px 10px;
    border-radius: 50px;
    transition: 250ms ease-in;
}

.social-links a:hover{
    background-color: var(--onhover);
}

.copyright{
    font-size: .6rem;
    text-align: center;
    display: block;
}